* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.sidebar {
  z-index: 100;
  background: rgb(72, 12, 71);
  color: white;
  height: 100vh;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.logo_text {
  font-size: 27px;
  line-height: 0;
}

.link {
  z-index: 100;
  width: 90%;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  color: whitesmoke;
  gap: 10px;
  padding: 5px 10px;
}
.link:hover {
  border-radius: 10px;
  background-color: rgb(114, 18, 134);
  border-right: 1px solid white;
  border-bottom: 0.5px solid white;
  box-shadow: 0px 1px 5px #000000;
}
.react-flow__attribution.right {
  display: none;
  right: 0;
}
.bars:hover {
  cursor: pointer;
  color: #4debf3;
}
.main-container {
  display: flex;
}
.canvas {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* background-color: rgb(0, 0, 0); */
  width: 86%;
  border-radius: 20px 20px 20px 20px;
}
.canvas-class {
  display: flex;
  justify-content: left;
  height: 100%;
}

.right-bar {
  position: absolute;
  right: 0px;
  z-index: 200;
  width: 150px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 30px 0px 0px 30px;
  height: 100%;
  background-color: black;
}
.main-body-section {
  width: 100%;
}
.react-flow-canvas {
  z-index: 1;
}

path.react-flow__edge-path:hover {
  stroke-width: 2.5;
  background-color: #ffffff;
  cursor: pointer;
}
path.react-flow__edge-path {
  stroke-width: 2;
  color: #000000;
}
.react-flow__node {
  padding: 10px;
}

.custom-node {
  padding: 2px;
}

.backdrop__input__form__modal {
  background-color: #000000;
  z-index: 100;
}

.react-flow__edge-textbg {
  fill: #3b01f8;
}
.react-flow__edge-text {
  font-size: 10px !important;
  color: #ffffff !important;
}

.panel__background-color {
  width: 200px;
  font-style: italic;
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  padding: 3px 2px 3px 3px;
  border-radius: 5px;
  background-color: rgb(164, 159, 159);
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
}
